<div class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div style="text-align:center" class="card bg-info">
                    <p>Our world is changing rapidly and the number of informations we receive or come in contact with, is still increasing.</p>
                    <p>This app helps track the information sites and save the most serious</p>
                    <p> Every visitor can see all the propsed urls by clicking on "Browse Urls".</p>
                    <p>Only registered user can propose an url by clicking on "Submit Url".</p>
                    <p>Only the admin can approve an url.</p>
                </div>
            </section>
        </div>
    </div>
</div>
